<!DOCTYPE html>
<!--
    xmlns:th
    : 타임리프의 th속성을 사용하기 위한 네임스페이스 html태그의 속성으로 작성
    (th 문법을 사용하지 않는 일반적인 html 페이지는 선언하지 않아도 됨)
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expression</title>
    <!-- 링크식(@{})을 이용하여 link 태그를 작성 할 수 있다.-->
<!--    <link rel="stylesheet" type="text/css" href="/css/common.css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>
    <h1>표현식</h1>
    <h2>주석</h2>
<!--
    주석의 종류
    parser-level 주석
    : parser-level 주석은 정적인 페이지에서는 주석으로 있다가 thymeleaf가
    처리 될때 제거되어 클라이언트에게 노출 되지 않는다는 장점이 있다.

    prototype-only 주석
    : prototype-only 주석은 정적인페이지에서는 주석으로 있따가 thymeleaf 처리
    후에는 화면에 보여지게 되는 주석-->

    <ul>
        <li>parser-level 주석</li>
        <!--/* 주석내용 */-->
        <li>prototype-only 주석</li>
        <!--/*/ 주석내용(prototype-only) /*/-->
    </ul>

    <h2>표현식1 - 변수 표현식 ${...}</h2>

    <!--
    제공되는 표현식 종류
    변수 표현식(Variable Expressions): ${...}
    선택 변수식(Selection Variable Expressions): *{...}
    메시지 표현식(Message Expressions): #{...}
    링크 표현식(Link URL Expressions): @{...}
    조각 표현식(Fragment Expressions): ~{...}
    인라인 표현식(Inline Expressions): [[...]] [(...)]
 -->

</body>
</html>